table_set_default inst0_map NoAction
table_set_default inst1_map NoAction
table_set_default inst2_map NoAction
table_set_default inst3_map NoAction
table_add inst3_map inst3_set_ingress_tstamp 0x1 =>
table_add inst2_map inst2_set_q_info 0x1 =>
table_add inst1_map inst1_set_hop_latency 0x1 =>
table_add inst0_map inst0_set_switch_id 0x1 00:04:00:00:01:01 => 1
table_add inst0_map inst0_set_switch_id 0x1 00:aa:00:02:01:00 => 1
table_add inst0_map inst0_set_switch_id 0x1 00:aa:00:01:02:00 => 2
table_add inst0_map inst0_set_switch_id 0x1 00:aa:00:03:02:00 => 2
table_add inst0_map inst0_set_switch_id 0x1 00:aa:00:02:03:00 => 3
table_add inst0_map inst0_set_switch_id 0x1 00:04:00:00:02:01 => 3
